.header {
  margin-top: 62px;
  margin-bottom: 88px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
}

.menu-list {
  display: flex;
  color: black;
  justify-content: center;
  padding: 17px 0 0 10px;
  gap: 0 33px;
}

.menu-point {
  font-size: 18px;
  margin-left: 0;
  list-style: circle;
  text-underline-offset: 4px;
}

.special-list-style {
  list-style-type: none;
  text-decoration: none;
}

.logo {
  display: block;
  width: 140px;
  padding-top: 30px;
  max-width: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  font-style: normal;
  font-size: 18px;
  text-underline-offset: 4px;
  padding-top: 17px;
  row-gap: 5px;
  padding-left: 100px;
}

.white-text {
  color: #ffffff;
}

.cover {
  min-height: 757px;
  margin-top: 20px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgb(0, 0, 0, 0.6);
}

.title {
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  padding-top: 165px;
  font-weight: bold;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
  margin-left: 50px;
}

.aligned-text_center {
  text-align: center;
  padding: 17px 0 0 28px;
}

.aligned-text_right {
  text-align: right;
  padding: 17px 20px 0 0;
}

.letter-spacing-extended {
  word-spacing: 19px;
}

.description {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 2fr 1fr;
}

.cover__description-text {
  padding-top: 110px;
  padding-left: 2px;
  text-transform: uppercase;
  font-size: 22px;
  text-align: left;
}
  
.button-container {
    padding-top: 105px;
    align-self: end;
  }
  
.button {
  background: transparent;
  border: 2px solid white;
  box-sizing:content-box;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 30px;
  margin-left: 12px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 180px 0 28px 62px;
  font-weight: 700;
}

.card-container {
 width: 31.5%;
}

.lots__card-list {
  display: flex;
  align-items: start;
  justify-content: center;
  list-style-type: none;
  margin: 0 18px 0 18px;
  min-height: 600px;
  gap: 24px;
  max-width: 1100px;
  flex-wrap: wrap;
  overflow: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 600px;
  width: 100%;
  position: relative;
  z-index: 1;
  background-position: center;
  background-size: cover;
}
/* фиксированный размер заменен на минималный, 
свойства фона перенесены из конкретных карточек*/

.article {
  position: relative;
}

.card__title {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 22px;
  text-transform: uppercase;
  padding: 50px 40px 0 40px;
}
/*удален  размер, решена проблема с переполнением*/

.card__text {
  font-size: 20px;
  padding: 0 40px 56px 40px;
}

.card-paul-anderson {
  background-image: url(../images/card-lot-01.jpg);
}

.card-ulysses {
  background-image: url(../images/card-lot-02.jpg);
}

.card-kandinsky {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  text-decoration: underline;
  display: block;
  font-size: 20px;
  text-underline-offset: 4px;
  text-align: start;
  margin: 26px 0 155px 62px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 66%;
  background-color: black;
  border-radius: 50%;
  margin-left: 70px;
}
.about__column {
  display: grid;
  margin-left: 16px;
  margin-right: 31px;

}
.about__text {
  display: grid;
  gap: 28px;
  font-size: 20px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin: 100px 0;
}

.logo_img {
  width: 60%;
  height: auto;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 180px;
  padding-bottom: 100px;
  font-size: 18px;
  text-underline-offset: 4px;
  padding-left: 50px;
  padding-right: 50px;
  align-items: start;
  justify-content: start;
}
/* расстояние между футером и предыдущим блоком 180 пикселей как на макете*/
.menu-colomn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.menu-images {
  padding-top: 10px;
  display: flex;
  align-items: start;
  justify-content: end;
  list-style-type: none;
  gap: 47px;
}

.footer-menu-image {
  width: 50px;
}

.nav__link:active,
.link-no-decoration,
.card-link {
  text-decoration: none;
}

.no-left-pagging {
  padding-left: 0;
  padding-top: 5px;
}